<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dynamic MLM Tree</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="controls">
    <button onclick="zoomIn()">Zoom In</button>
    <button onclick="zoomOut()">Zoom Out</button>
    <button onclick="resetZoom()">Reset</button>
    <button onclick="addUsers()">Add Dummy USers</button>
    <div id="selectedUserLabel"
      style="position: fixed; bottom: 10px; left: 10px; background: #222; color: #fff; padding: 6px 12px; border-radius: 4px; font-size: 14px;">
      Click a user to see info here.
    </div>
  </div>

  <div class="controls-highlight">
    <!--    <button onclick="highlightLevel(1)">☰ Level-A</button>-->
    <button data-level="1" onclick="highlightLevel(1)">Highlight Level-A</button>
    <button data-level="2" onclick="highlightLevel(2)">Highlight Level-B</button>
    <button data-level="3" onclick="highlightLevel(3)">Highlight Level-C</button>
    <button onclick="clearHighlights()">Clear Highlights</button>
    <button onclick="scheduleIncome()">Schedule Income</button>
  </div>

  <div class="sidebar-toggle">
    <button onclick="toggleSidebar('sidebar-sql')"> ☰ Execute</button>
    <button onclick="toggleSidebar('sidebar-info')">ℹ️ Show Info</button>
    <button onclick="toggleSidebar('sidebar-register')">📝 Register User</button>
    <button onclick="toggleSidebar('sidebar-deposit')">💰 Deposit</button>
    <button onclick="toggleSidebar('sidebar-transactions')">📄 Transactions</button>
    <button onclick="toggleSidebar('sidebar-config')">⚙️ Income Config</button>
    <button onclick="toggleSidebar('sidebar-teams')">📄 Team</button>
    <button onclick="toggleSidebar('sidebar-incomes')">📄 Incomes</button>
    <button onclick="toggleSidebar('sidebar-products')">📄 Products</button>
  </div>



  <div class="backdrop" id="backdrop" onclick="closeAllSidebars()"></div>

  <div id="sidebar-sql" class="sidebar">
    <h2>Execute SQL Query</h2>
    <p class="sql-description">Lorem Ipsum</p>
    <textarea id="sqlInput" rows="5" placeholder="Enter SQL (e.g., SELECT * FROM users)"></textarea>
    <button class="execute-btn" onclick="runQuery()">Execute</button>

    <div id="error"></div>
    <div id="result"></div>
  </div>

  <!-- Info Sidebar -->
  <div id="sidebar-info" class="sidebar info">
      <h2>Common Database Queries</h2>
      <div id="query-container"></div>
  </div>

  <!-- Register Sidebar -->
  <div id="sidebar-register" class="sidebar register">
    <h2>Register New User</h2>
    <form id="registerForm" class="formcontrol">
      <label>Username:</label>
      <input type="text" id="username" name="username" required>

      <label>Referrer:</label>
      <select name="referral_code" id="referralSelect" required>
        <option value="" disabled selected>-- Select Referrer --</option>
      </select>

      <label>Referral Code:</label>
      <input type="text" name="referral_code" disabled>

      <button type="submit">Register</button>
    </form>
    <div id="registerStatus" style="margin-top: 10px; padding: 8px; display: none;"></div>
  </div>


  <!-- Deposit Sidebar -->
  <div id="sidebar-deposit" class="sidebar deposit">
    <h2>Register New User</h2>
    <form id="depositForm">
      <label>Username:</label>
      <select name="userId" id="userSelect" required>
        <option value="" disabled selected>-- Select User --</option>
      </select>

      <label>Amount:</label>
      <input type="number" id="amount" required />

      <label>Transaction Type:</label>
      <select id="transactionType" required>
        <option value="DEPOSIT">DEPOSIT</option>
        <option value="WITHDRAWAL">WITHDRAWAL</option>
      </select>

      <label>Remarks:</label>
      <input type="text" id="remarks" value="Deposit By Admin"/>

      <button type="submit">Submit</button>
    </form>
    <div class="status" id="depositStatus" style="margin-top: 10px; padding: 8px; display: none;"></div>
  </div>

  <!-- Transactions Sidebar -->
  <div id="sidebar-transactions" class="sidebar transactions">
    <h2>Transactions</h2>
    <table id="transactionsTable" border="1" cellpadding="8" cellspacing="0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Remarks</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <!-- Config Sidebar -->
  <div id="sidebar-config" class="sidebar config">
    <h2>Team Income Configs</h2>
    <!--<table id="teamIncomeConfig" border="1" cellpadding="8" cellspacing="0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Upline Level</th>
        <th>Downline Tier</th>
        <th>Percentage</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>-->

    <table id="pivotTable" border="1" cellpadding="8" cellspacing="0">
      <thead></thead>
      <tbody></tbody>
    </table>

    <hr/>

  </div>



  <!-- Team Sidebar -->
  <div id="sidebar-teams" class="sidebar teams">
    <h2>Teams</h2>

  </div>

  <!-- Income Sidebar -->
  <div id="sidebar-incomes" class="sidebar incomes">
    <h2>Incomes</h2>

  </div>

  <!-- Products Sidebar -->
  <div id="sidebar-products" class="sidebar products">
    <h2>Products</h2>
    <table id="productsTable" border="1" cellpadding="8" cellspacing="0">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>price</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
    <div class="status" id="purchaseStatus" style="margin-top: 10px; padding: 8px; display: none;"></div>
  </div>


  <div class="canvas">
      <div class="tree-wrapper" id="treeWrapper">
          <div class="tree" id="mlmTree"></div>
      </div>
  </div>

  <script src="queries.js"></script>
  <script src="script.js"></script>
</body>

</html>